@model IEnumerable<Chat.Data.Entities.Mensajes>


@{
    ViewData["Title"] = "Mensajes";
}

<h1>Mensajes</h1>




<table class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaEnviado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuerpoMensaje)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in Model)
            
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEnviado)
                
                    @Html.DisplayFor(modelItem => item.CuerpoMensaje)
                </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">E</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">D</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">X</a>
                </td>*@
            </tr>
        }
    </tbody>
</table><form class="form-inline">
   <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Mensaje</label>
        <input type="text" class="form-control" id="inputPassword2" placeholder="Mensaje">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Enviar</button>
</form>

