@model IEnumerable<Chat.Data.Entities.Mensajes>

@{
    ViewData["Title"] = "Mensajes";
}

<h1>Mensajes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Enviar mensaje</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaEnviado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuerpoMensaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEnviado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuerpoMensaje)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
